# Better Auth Secret Key
# SEE: https://www.better-auth.com/docs/installation
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=http://localhost:3000 # Base URL of the app

# Google OAuth Credentials
GOOGLE_CLIENT_SECRET=
GOOGLE_CLIENT_ID=

# DANGER: Disable TLS certificate validation (FOR DEVELOPMENT ONLY WITH CARE)
# SEE: https://nodejs.org/docs/latest-v24.x/api/cli.html#node_tls_reject_unauthorizedvalue
# NODE_TLS_REJECT_UNAUTHORIZED=0
